<!--<tab heading="Demographics" id="demographicsTab" class="filterAccordionHeading" ng-click="toggleActiveTab('demographicsTab')">-->
<div style="height:100%;width:100%;background-color:white">
    <accordion class="sidebar-tabs filterAccordion" role="tablist">
        <!--Begin ng repeat to create an accordion group (accordion heading + accordion content) for each demographics category-->
        <accordion-group class="filterAccordionGroup" ng-repeat="(key,value) in dFilters.Filters track by $index" style="margin-top:0 !important">
            <accordion-heading class="accordion-head">
                <!--Begin container for icon-->
                <div class="accordion-ico-col">
                    <span>
                        <!--Begin ng if to conditionally set the icon-->
                        <i class="fa fa-home fa-2x" ng-if="key == 'Housing'"></i>
                        <i class="fa fa-money fa-2x" ng-if="key == 'Income'"></i>
                        <i class="fa fa-users fa-2x" ng-if="key == 'Population'"></i>
                        <!--End ng if to conditionally set the icon-->
                    </span>
                </div>
                <!--End container for icon-->
                <!--Begin container for heading text-->
                <div class="accordion-htext-col" ng-bind="key"></div>
                <!--End container for heading text-->
            </accordion-heading>
            <div class="col-md-12" ng-repeat="filter in value track by $index">
                <layer></layer>
                <!--<input type="checkbox" class="js-switch" ui-switch="{color:'#39bcf6', secondaryColor:  '#D8D8D8'}" ng-model="filter.isApplied" ng-change="applyFilter(filter)" />
                <label>{{filter.DisplayName}}</label>
                <div ui-slider="{range: true}" min="{{filter.Min}}" max="{{filter.Max}}" step="100" ng-model="filter.newRange" ng-mouseup="applyFilter(filter)" ng-if="filter.isApplied == true">
                </div>
                <input ng-if="filter.isApplied == true" type="text" ng-model="filter.newRange[0]" style="float:left;position:relative;width:40px;margin-top:5px;" />
                <input ng-if="filter.isApplied == true" type="text" ng-model="filter.newRange[1]" style="float:right;position:relative;width:40px;margin-top:5px;" />-->
            </div>
        </accordion-group>
        <!--End ng repeat to create an accordion group (accordion heading + accordion content) for each demographics category-->
    </accordion>
</div>
<!--</tab>-->